.crypt-fulldiv-linechart .coin-meta-data{
  top: 30px;
}

.crypt-fulldiv-linechart .coin-meta-data{

  position: unset !important;
  transform: none;
  left: unset;
}
.crypt-fulldiv-linechart{

  padding: 22px 0px 20px 0;
}
.crypt-fulldiv-linechart h6{

  font-weight: 600;
}
.crypt-fulldiv-linechart h5{
  font-weight: 100;
}
h5{
  font-size: 15px;
  font-weight: 600;
}
.crypt-fulldiv-linechart .coin-meta-data h6{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.side-line{
  padding-left: 10px;
}

.side-cont{
  padding: 20px 30px 20px 20px;
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.main-title h2{
   display: inline-block;
 }
.main-title h5{
  display: inline-block;
}

.bv-per{
  font-size: smaller;
}


.light-c-bck{
  background-color: rgba(241, 241, 241, 0.67);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}


.social-m-info p{
  display: inline-block;
  padding: 10px;
}

.social-m-info span {
  margin-left: 5px;
}


.url-link{

  display: inline-block;
  margin: 2px;
}
.social-m-info a{
  margin: 20px;
}


.social-m-info i {

  color: #555555;
}
.social-m-info i:hover {

  color: #808080;
}
.change-tag-plus{
  padding: 5px;
  white-space: nowrap;
  color: green !important;
  font-weight: 600;
}

.change-tag-minus{
  padding: 5px;
  white-space: nowrap;
  color: #ff0011 !important;
  font-weight: 600;
}
.arr-img{
  height: 35px;
  margin-top: -10px;
}
@media only screen and (max-width: 600px){
  .side-cont{
    padding: 20px 20px 20px 20px;
  }
  .gro-static{
    margin-left: -10px;
  }
  .side-line h6{
    font-size: smaller;
  }
  .main-title img.crypt-market-cap-logo {
    margin-top: -10px !important;
  }
  .main-title img{
    height: 30px;
    width: auto;
  }
  .main-title .main {
    font-size: 24px;
    white-space: nowrap;
    width: 100%;
    text-align: center !important;
  }
  .arr-img{
    height: 25px;
    margin-top: -5px;
  }
  .mb-coin-headers{
   h2{
     font-size: 24px;
     display: block;
     margin-left: 3px !important;
     /* padding-left: 0px !important; */
     margin-top: 10px;
     text-align: center;
   }
    .watch-btn-c{
      margin-top: 10px;
    }
  }
  .last-updated-block{
    text-align: center;
  }
}
.last-updated-block{
  display: block;
}

.p-d-5{
  padding-right: 5px;
  padding-left: 5px;
}

.light-c-bck p{
  margin-bottom: 0.3em;
}
.light-c-bck .fa-2x{
  font-size: 1.25em;
}
