.w-r{
  width: 80px;
  font-size: small;

}
.k-sparkline span{

  height: 40px !important;
  width: 150px !important;
}
.change-tag{
  background-color: #bcbcbc;
  color: white;
  padding: 5px;
  border-radius: 20px;
  white-space: nowrap;
}
