<div class="container">
  <link rel="canonical" [href]="sanitizer.bypassSecurityTrustResourceUrl(canonical)" />
<div class="row">
  <div class="col-md-8 offset-md-2  mt-5 side-cont">
    <h1> Terms & Conditions</h1>
    <hr>

    <p class="p-txt">
      These Terms and Conditions govern your access to and use of this website, www.tokenncoin.com (the "Website"), and associated content, software, and applications (collectively, the "Service").<br><br>

      "We," "Us," and "Our" refer to the website Tokenncoin. The term "you" refers to visitors of the website 'https://tokenncoin.com'.<br><br>

      The following information contains important information regarding your legal rights, including limitations on Tokenncoin', certain third parties' liability, disclaimers of warranties and a submission to jurisdiction. Each time you access the Service by any means (for example, through the Internet or on a mobile device), you agree to comply with the version of the terms and conditions posted on the website.<br>

      <br><b>License</b> <br>
      Use the Service as expressly permitted by these Terms. All rights not expressly granted to you are reserved by Tokenncoin, its third-party providers, and other respective owners if any. <br><br>

      For clarity, content shall include all such content accessed by you at any time. You acknowledge that the Service has been developed, compiled, prepared, revised, selected, and arranged by Tokenncoin and such third parties through the application of methods and standards of judgment developed and applied through the expenditure of substantial time, effort, and money and constitutes the valuable intellectual property of Tokenncoin and such others.<br><br> Accordingly, you shall protect the proprietary rights of Tokenncoin and all others having rights in the Service during and after the term of this agreement and comply with all reasonable written requests made by Tokenncoin to protect its and others' contractual, statutory, and universal law rights in the Service.<br>

      <br> <b>Modification of the Website </b><br>

      At any time and in Tokenncoin's sole discretion, may (in whole or part) modify, suspend or discontinue the Service and any Content without notice, for any reason. We shall have no liability to you or any third party for any such modification, suspension or discontinuance.<br>

      <br><b>Changes to these Terms</b><br>

      We may revise these Terms from time to time, without prior notice. You are bound by any changes to these Terms upon our posting of such changes on the Service. You should check these Terms often to make sure that you are aware of the most current Terms.<br>

      <br><b>Copyright and Trademark</b> <br>

      All content and materials available on the website, including, but not limited to text, graphics, website name, code, images, and logos are the intellectual property of Tokenncoin and are protected by applicable copyright and trademark law. Any inappropriate use, including, but not limited to the reproduction, distribution, display, or transmission of any content on this site is strictly prohibited, unless specifically authorized by Tokenncoin.<br>

      <br><b>Termination of Use</b><br>

      Any suspected illegal, fraudulent, or abusive activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities. Upon suspension or termination, your right to use the resources we provide will immediately cease, and we reserve the right to remove or delete any information that you may have on file with us, including any account or login information.<br>

    </p>

  </div>
</div>
</div>
