<link rel="canonical" [href]="sanitizer.bypassSecurityTrustResourceUrl(canonical)" />
<div >

  <div class="row">
    <div class="col-md-2 offset-md-1  mt-5">
      <div class="btn-cont-e">
        <a class="btn btn-dark w-100 crypt-btn toggle-btn selected-btn" routerLink="/beginner-crypto-glossary">Beginner</a>
        <a class="btn btn-dark w-100 crypt-btn toggle-btn " routerLink="/advanced-crypto-glossary">Advance</a>
      </div>
    </div>
    <div class="col-md-8  mt-5 side-cont gl-beg" >
      <h1>Beginner Cryptocurrency Glossary</h1>
      <div class="row g-cont" style="margin-top: 50px">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/311.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>24h Volume</h2>
          <p>This represents data for the last 24 hours.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/101.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Altcoin</h2>
          <p> Also known as “alternative coin,” this term represents any other cryptocurrency that is not Bitcoin.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/91.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Bitcoin</h2>
          <p> Abbreviated with BTC, the more popular cryptocurrency in this day and age. It is the most accepted crypto in exchanges and is the primary medium for exchanges.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/11.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Blockchain</h2>
          <p> This may either refer to blockchain technology, or to the chain of blocks which are linked together and kept secure using cryptography.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/261.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Blockchain Explorer</h2>
          <p> This is an online tool that allows users to view transactions that occur on a specific cryptocurrency’s blockchain, along with other details such as hash rate and transaction growth.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/321.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Circulating Supply</h2>
          <p>Contrary to maximum supply, circulating supply is the term used to the number of digital assets that are currently being circulated in the market and the general public.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/61.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Coin</h2>
          <p>This refers to digital assets that can operate independently.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/151.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Cold Wallet</h2>
          <p>This is a category of wallet that is in cold storage.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/61.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Cryptocurrency</h2>
          <p>A type of digital asset that has a specific market value, and that has powerful cryptographic properties. These usually perform independently of traditional intermediaries like banks and other financial institutions.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/131.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Crypto Exchange</h2>
          <p>Cryptocurrency exchanges are platforms that allow users to trade cryptocurrency to fiat or to other cryptocurrencies. They also offer crypto wallet services for their users.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/121.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Crypto Mining</h2>
          <p>In cryptocurrency circles, this refers to the practice of using advanced computer systems to discover new blocks, thereby allowing the miner to gain the block reward, which is new cryptocurrencies.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/111.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Crypto Trading</h2>
          <p>The simplest method of exchanging or receiving cryptocurrency. Rather than mining, users can buy and sell cryptocurrencies for another.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/141.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Crypto Wallet</h2>
          <p>Within the cryptocurrency world, a wallet is a secure place to store, send, and receive digital currency, in the manner of a digital wallet. Over the cryptocurrency market exists two categories of wallets: hot wallets (connected to the internet) and cold wallets (not connected to the internet).</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/161.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Custodial /Non-Custodial Wallet</h2>
          <p>Generally connected to the storage of keys, regarding wallets or exchanges, a non-custodial set-up is where the users directly detain private keys. Custodial is when a private key is held by the exchange where the wallet is registered.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/21.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Decentralized</h2>
          <p>This refers to structures wherein the authority to decide on the network’s behalf rests on the shoulders of nodes or actors who work in a distributed function to attain a similar goal.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/11.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>ERC20</h2>
          <p>This is a token standard for the Ethereum platform, albeit the most popular and widely accepted. ERC stands for “Ethereum Request for Comments.”</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/51.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Fiat Currency</h2>
          <p>This refers to a currency that is considered legal tender by a specific government. One example is the US dollar, which is accepted and supported by the US government.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/221.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>IBO</h2>
          <p>Abbreviated as IBO, this refers to a method wherein a company outsources the accomplishments of various tasks to other parties for a fixed amount of time. In turn, the company rewards those parties for completing the tasks that it has assigned to them.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/201.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>ICO</h2>
          <p>Abbreviated as ICO, this refers to a crowdfunding platform that uses cryptocurrencies as a means of raising capital for a blockchain-based project.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/231.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>IEO</h2>
          <p>Abbreviated as IEO, this refers to a crowdfunding platform wherein a cryptocurrency exchange hosts the token sale on behalf of the blockchain-based project, with a percentage of the token sales distributed to the exchange.</p>
        </div>
      </div>
      <div class="row g-cont">
      <div class="col-md-1 col-2">
        <img class="g-icon" src="assets/images/g-icons/211.svg">
      </div>
      <div class="col-md-11 col-10">
        <h2>ITO</h2>
        <p>Abbreviated as ITO, this refers to a crowdfunding platform that uses tokens as a means of raising capital for a blockchain-based project. The main difference between ICO and ITO is that the latter has yet to prove its intrinsic worth of the token offering.</p>
      </div>
    </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/241.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>KYC</h2>
          <p>Abbreviated as KYC, this is a practice expected of companies wherein they will verify the identity of their users or customers in line with anti-money laundering laws.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/31.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Ledger</h2>
          <p>This refers to any record of financial transactions that cannot be altered, only added with newer entries.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/271.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Mainnet</h2>
          <p>Alternatively used to refer to “the main network,” this is an independent blockchain network that facilitates live transactions.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/301.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Market Cap</h2>
          <p>Abbreviated as MCAP, this refers to the total number of cryptocurrencies multiplied by the price for each piece.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/331.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Max Supply</h2>
          <p>This is the declared total amount of a cryptocurrency that will ever exist.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/281.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Mineable</h2>
          <p>Some cryptocurrency ecosystems incentivize participants who will contribute to the stability of the blockchain by discovering new blocks and validating transactions. When this is so, the native cryptocurrency is said to be mineable.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/291.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Mnemonic Phrase</h2>
          <p>Also referred to as a mnemonic seed, this is an assortment of phrases that are used to access or restore the user’s crypto assets.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/41.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>P2P</h2>
          <p>Abbreviated as P2P, this connection represents cooperation between parties in a diffused network, segregating tasks or workloads between peers.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/181.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Private Key / Secret Key</h2>
          <p>A fragment of code created within asymmetric-key encryption process, combined with a public key, to be applied in decrypting information hashed with the public key. It acts as a digital signature when selling or withdrawing crypto.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/191.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>QR Code</h2>
          <p>This is a machine-readable tag that shows encoded information into a graphical pattern. It is often used to share wallet addresses with individuals.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/71.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Token</h2>
          <p>This refers to a digitally-code utility that can be owned, bought, and sold. It does not have value only by itself. It is made to the software to be developed around it.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/251.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Wallet Address</h2>
          <p>This is the point of access so users can send cryptocurrency to your wallet.</p>
        </div>
      </div>
      <div class="row g-cont">
        <div class="col-md-1 col-2">
          <img class="g-icon" src="assets/images/g-icons/341.svg">
        </div>
        <div class="col-md-11 col-10">
          <h2>Whitepaper</h2>
          <p>This is a document that represents a specific and meticulous explanation of a cryptocurrency aiming to captivate investors. It is developed to provide full technical information, explain its vision, values, and purpose. Commonly, it includes a roadmap informing how the cryptocurrency intends to grow and prevail.</p>
        </div>
      </div>
    </div>

  </div>
</div>
