.change-tag{
  background-color: #bcbcbc;
  color: white;
  padding: 5px;
  border-radius: 20px;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.gray-graph{
  /*-webkit-filter: invert(.8);
  filter: invert(.8);*/
}
.img-l{

  margin-right: 10px;
}

