<div style="width: 100%">
  <div class="row">
    <div class="col-md-12">
      <mat-progress-bar mode="indeterminate" *ngIf="loader==true"></mat-progress-bar>
      <div class="table-responsive-m">
        <table class="table table-striped crypt-table-market-cap ">
          <thead>
          <tr>
            <th class="text-left tbl-h">{{'Date' | translate}}</th>
            <th class="text-left tbl-h">{{'Open' | translate}} ({{fcurrency}})</th>
            <th class="text-left tbl-h">{{'High' | translate}} ({{fcurrency}})</th>
            <th class="text-left tbl-h">{{'Low' | translate}} ({{fcurrency}})</th>
            <th class="text-left tbl-h">{{'Close' | translate}} ({{fcurrency}})</th>
            <th class="text-left tbl-h">{{'Volume' | translate}} ({{fcurrency}})</th>
            <th class="text-left tbl-h">{{'Market Cap' | translate}} ({{fcurrency}})</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hd of historyData; let i = index">
            <th class="text-left">{{hd.time_stamp | slice: 0:10 | date:'MMM-dd,yyyy'}}</th>
            <td class="text-left" >{{hd.open * fcurrencyValue| number}}</td>
            <td class="text-left" >{{hd.high * fcurrencyValue| number}}</td>
            <td class="text-left" >{{hd.low * fcurrencyValue| number}}</td>
            <td class="text-left" >{{hd.close * fcurrencyValue| number}}</td>
            <td class="text-left" >{{hd.volume * fcurrencyValue| number}}</td>
            <td class="text-left" >{{hd.market_cap * fcurrencyValue| number}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

