<div class="container">
  <link rel="canonical" [href]="sanitizer.bypassSecurityTrustResourceUrl(canonical)" />
  <div class="row">
    <div class="col-md-8 offset-md-2  mt-5 side-cont">
      <h1> Cookies Policy</h1>
      <hr>

      <p class="p-txt">
        Cookies are small data files that are downloaded to a user's computer, phone, or tablet when you visit a website. Most web browsers automatically accept cookies. They help website operators to, for example, recognize a user that has visited a website previously and to analyze behavior to improve the user experience. Further details on the cookies used on our Website and their purposes are set out below.<br><br>

        <b>How Long Will The Cookies Remain?</b><br>

        The single-session cookie is a temporary cookie that remains in the cookie file of your browser until you close the browser. The other cookies will remain in the cookie file of your browser after the closing of the browser and will become active again when you reopen the Website. These cookies have different expiration dates. Following the expiry of a cookie, a new version of that cookie will be downloaded when you next visit the Website unless you have withdrawn your consent in the meantime.<br>
        <br>

        <b>Third-Party Cookies</b><br>

        Some cookies are provided on our behalf by trusted third-party service providers to aid with user experience, reporting of user behavior, market research, providing advertisements according to user's interests and improving the Website functionality for example. This user behavior is analyzed to provide an enhanced user experience.<br><br>

        <b>How Do I Turn The Cookies Off?</b><br>

        You do not have to accept cookies, but if you opt to turn off or delete cookies generated via our Website, it may not perform as it has been designed to, possibly reducing the functionality on our Website, the options available to you, as well as the performance of our Website during your visit. All modern browsers allow you to change your cookie settings. These settings will typically be found in the 'options' or 'preferences' menu of your browser.
        </p>

    </div>
  </div>
</div>
