.change-tag-plus{
  padding: 5px;
  white-space: nowrap;
  color: green !important;
  font-weight: 600;
}

.change-tag-minus{
  padding: 5px;
  white-space: nowrap;
  color: #ff0011 !important;
  font-weight: 600;
}
.side-cont div{
  padding: 10px;


}
.side-cont p{
  font-size: medium;
}

.side-cont{
  margin-top: 20px;
  overflow: hidden;
}

.side-cont h3{
  margin-top: 20px;
}
.about-img{
  width: 100%;
  height: 120%;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  -o-object-fit: fill;
  object-fit: cover;
}
