<div class="container">
  <link rel="canonical" [href]="sanitizer.bypassSecurityTrustResourceUrl(canonical)" />
  <div class="row">
    <div class="col-md-8 offset-md-2  mt-5 side-cont">
      <h1> Privacy Policy</h1>
      <hr>

      <p class="p-txt">
        Your privacy is important to us. Tokenncoin respects your privacy regarding any information we may collect from you across our website,<a href="https://tokenncoin.com">https://tokenncoin.com</a> , and other sites we own and operate.<br><br>

        We only ask for the necessary information as we need it to provide the best services to you. We collect it by fair and lawful means, with your knowledge and consent. We will clarify the reasons why we are collecting this information and how it will be used.<br><br>

        This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.<br><br>

        We will protect your data privacy and we will not share your details with any third party organization unless enforced to do so, and if we deem it necessary.<br><br>

        Should you not consent to our policy, we highly recommend that you refrain from availing of our services. Otherwise, using our services and by providing us your personal information means that you comply and agree with our privacy policy in its entirety.<br><br>

        For the sake of those who are staying in countries that are under the European Economic Area (EEA), we created our policy agreeing with the provisions in the General Data Protection Regulation (GDPR).<br><br>

        <b>1. Data collection</b><br>

        We collect some vital information by visiting our website such as the internet protocol (IP) address used by your computer or mobile device to connect to the internet, operating system, browser type and version, duration of the visit to the site, date and time of the visit, time zone setting, links you click on, and information you key in to our forms.<br><br>

        We will ask for your approval for the cookies on our website upon visiting.<br><br>

        We also use your provided information such as your full name, email address, age, mobile number for the customer and technical support.<br><br>

        <b>2. Utilization of data</b><br>

        The information we collect will importantly provide us timely and appropriate support that will prevent fraud and illegal activities from happening through our website.<br><br>

        <b>3. Information sharing</b><br>

        We will never use your information to make a profit in any way by sharing it with third party organizations and companies affiliated with Tokenncoin.<br><br>

        We may disclose some of your data with government officials, law enforcement officers, legal courts, and others if compelled by a court order or other similar legal procedures.<br><br>

        <b>4. Data protection</b><br>

        For your protection do not disclose any personal information on platforms and online applications which is not managed and owned by Tokenncoin to prevent heinous and illegal activities on your account<br><br>

        <b>5. General Data Protection Regulation</b><br>

        Should you be a resident of a country situated within the European Economic Area (EEA), we respect your right for the following, as stipulated in the General Data Protection Regulation:<br><br>

        - The right to be informed<br>
        - The right to access<br>
        - The right to rectification<br>
        - The right to be forgotten<br>
        - The right to restrict processing<br>
        - The right to data portability<br>
        - The right to object<br>
        - Rights in relation to automated decision making and profiling.<br><br>

        <b>6. Service Providers</b><br>

        We may hire third-party companies and individuals to perform Service-related services or assist us in analyzing how our Service is used. These third parties may have access to your data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.<br><br>

        <b>7. Advertising</b><br>

        We may use third-party Service Providers to show advertisements to you to help support and maintain our Service.<br><br>

        <b>8. Links to Other Sites</b><br>

        Our Service may contain links to other sites that are not operated by us.<br><br>

        We strongly advise you to review the site you visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.<br><br>


        <b>9. Children's Privacy</b><br>

        Our Service does not address persons who are under the age of 18. Should you know someone who uses our app under the age of 18, please report to us so that we may perform appropriate actions.<br><br>

        <b>10. Changes to This Privacy Policy</b><br>

        We may renew our policy from time to time, so we advise you to visit this page regularly. We also recommend checking this privacy policy more often for any changes. Changes to this policy are effective when posted.<br><br>

        <b>Contact Us</b><br>

        If you have any questions about this Privacy Policy, please contact us:<br>

        By visiting this page on our website: <a href="https://tokenncoin.com">https://tokenncoin.com</a>
      </p>
    </div>
  </div>
</div>
