<div class="container">
  <link rel="canonical" [href]="sanitizer.bypassSecurityTrustResourceUrl(canonical)" />
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5 side-cont">
      <h1> FAQ</h1>
      <hr>

      <p class="p-txt">
        <b>What is Tokenncoin?</b><br>
        Tokenncoin is a one-stop market research platform that ranks and analyzes all the blockchain-based coins and tokens in the crypto market.<br><br>

        <b>What is the difference between a "Coin" and a "Token"?</b><br>
        A Coin is a cryptocurrency that can operate independently on its blockchain. A Token is a cryptocurrency that depends on another cryptocurrency's blockchain as a platform to function.<br><br>

        <b>Why are markets with no fees excluded from the price average and total trading volume?</b><br>
        In the situation where no fees are being charged at the exchange, it is possible for a trader, or bot, to alternatively trade with themselves to create massive fake volume without consequence. We have no way of determining how much of the volume was falsely created so we decided to omit it from the calculations entirely.<br><br>

        <b>How do I purchase a cryptocurrency?</b><br>
        The Tokenncoin website is used to verify trading activities for numerous markets. We do not, though, sell any cryptocurrency. We recommend you to see the selects markets of desired token or coin and deciding which best suits you.<br><br>

        <b>In what time zone is the site based?</b><br>
        Data is collected, recorded, and reported in UTC time unless otherwise specified.<br><br>

        <b>Why are you listing cryptocurrency with an infamous reputation?</b><br>
        We understand that some cryptocurrency may have, or had, a negative reputation to users for a number of reasons. We aren’t here to criticize the merits of any cryptocurrency. Instead, we equip you with the means of making your own deductions.<br><br>

        <b>Why isn't my desired token/coin listed?</b><br>
        We aim to provide information on every coin/token. If there happens to be a token/coin not listed, understand that listing each and every token/coin can be a taxing process and can take a little more time than expected. We assure our users that we are working hard to provide the best and most accurate information.<br><br>

        <b>How is the price of a cryptocurrency calculated?</b><br>
        It is calculated by dividing the market cap with the circulating supply.<br><br>

        <b>What is Market Capitalization, and how is it calculated?</b><br>
        Market Capitalization is the total capitalization of a cryptocurrency’s price. It calculated by multiplying the price per coin by the total number of coins. For more definitions, visit our glossary.<br><br>

        <b>How is the circulating supply defined?</b><br>
        Circulating supply is the most accurate measure of how many currencies are twirling in markets and between people. Through the strategy of counting the coins being used at the moment in the market, and for each user, we calculate the exact circulating supply.<br>
        Ex: Total supply % number of coins being used = Circulating supply<br><br>

        <b>How is total volume calculated?</b><br>
        The volume of the coin is the sum of the coins that are filled in the Tokenncoin website, whether it's a buy order or sell order.<br><br>

        <b>How do you calculate prices for various cryptocurrencies?</b><br>
        We use a real-time market rate based on several factors. Please refer to the Market Data page of Tokenncoin. Here you can view the methodology for more information regarding this subject.<br><br>

        <b>What is circulating supply and how do you define it?</b><br>
        Circulating Supply refers to the number of coins or tokens that are in the market and available for the public.<br><br>

        <b>How are ranks for cryptocurrencies determined?</b><br>
        The ranking is based on real-time Market Capitalization. The market capitalization value is the product from multiplying the Price to the Circulating Supply.<br>
        [Market Cap = Price X Circulating Supply]<br><br>


        <b>Why is market cap or rank missing for some coins?</b><br>
        To avoid scams or companies able to manipulate currency value through the ability to trade without fees, we at Tokenncoin avoid considering currencies without an established fee tax. Additionally, we do not consider all currencies listed on all cryptocurrency sites. Our website only describes coins introduced in trustworthy sources such as CoinMarketCap.<br><br>


        <b>Why do I see different prices compared to other sites?</b><br>
        It is possible to notice a difference in currency prices when you compare different websites. It may be linked to late updates or technical differences. Additionally, different websites define different update times, and not all platforms update as often.<br><br>

        <b>How often are prices updated? Are there any delays?</b><br>
        Tokenncoin is using plenty of sources to guarantee high-speed and reliable information. Regarding this, prices are updated in a few seconds, being monitored 24/7 for our team. Delays can happen in the event of a technical problem but are not recurrent.<br><br>

        <b>At what time zone is the 24H change calculated?</b><br>
        The 24H change is calculated based on the UTC time zone.<br><br>

        <b>How can I check the historical performance of a specific crypto?</b><br>
        Search the coin or token you want to check on the 'search bar'. Click the 'historical data' tab to get an overview of the price movement of your selected crypto. Click the [insert candlestick chart logo] to get the candlestick chart view of the historical performance.<br><br>

        <b>How can I follow my (favorite) cryptocurrencies?</b><br>
        The best way to follow your favorite cryptocurrency in the Tokenncoin is by going to the home page then simply click the star on the left side of the cryptocurrency you want to follow then go to the wishlist page.<br><br>

        <b>Which Cryptocurrencies are listed on Tokenncoin.com?</b><br>
        The Tokenncoin website includes all kinds of cryptocurrencies that passed the website requirements.<br><br>

        <b>How to buy cryptocurrency on tokenncoin.com?</b><br>
        Tokenncoin is a cryptocurrency information website and not a crypto exchange. To buy cryptocurrencies, you may navigate to the market sections of the coins to see the markets where they are traded and for sale.<br><br>

        <b>How can I create a watch list?</b><br>
        Please go to our home page, tokenncoin.com. Then, click on the stars on the left side of the tokens/coins that you want to add on your watch list. After adding, you can view your watch list by clicking the watch list tab above the token/coins data.<br><br>

        <b>Am I allowed to use content (screenshots, data, graphs, etc.) for one of my personal projects and/or commercial use?</b><br>
        You may use the content for academic or journalistic use provided that you cite tokenncoin.com as a source. Please refer to the Terms of Use for the website.<br><br>

        <b>How to deposit money into Tokenncoin?</b><br>
        As of now, this feature is not available. We will release a ‘How To’ once the feature is available.<br><br>

        <b>How to get listed on tokenncoin.com?</b><br>
        If your token or coin is not yet listed on our website, you can send us a listing request via the Request Form. Make sure to fill in all the necessary details to get immediate approval.<br><br>

   <!--     <b>How can I advertise on Tokenncoin.com?</b><br>
        You can send us a message on advertise@tokenncoin.com<br><br>-->
    </div>
  </div>
</div>
