.crypt-fulldiv-linechart .coin-meta-data{
  top: 30px;
}

.crypt-fulldiv-linechart .coin-meta-data{

  position: unset !important;
  transform: none;
  left: unset;
}
.crypt-fulldiv-linechart{

  padding: 22px 0px 20px 0;
}
.crypt-fulldiv-linechart h6{

  font-weight: 600;
}
.crypt-fulldiv-linechart h5{
  font-weight: 100;
}
h5{
  font-size: 15px;
  font-weight: 600;
}
.crypt-fulldiv-linechart .coin-meta-data h6{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.side-line{
  border-left: 5px solid #555555;
  padding-left: 10px;
  margin: 10px;
}

.side-cont{
  padding: 20px;
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-top: 18px solid #58c47c;
}

.main-title h2{
  display: inline-block;
}
.main-title h5{
  display: inline-block;
}

.bv-per{
  font-size: smaller;
}


.light-c-bck{
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}


.social-m-info p{
  display: inline-block;
  padding: 10px;
}

.social-m-info span {
  margin-left: 5px;
}
.search-cont{


  display: inline-block;
  top: 20px;
  z-index: 200000;
}


.custom-drop{
  background-color: white;
  position: absolute;
  z-index: 2;
}
.search-list{
  min-width: 205px;
}
.search-list a{
  padding: 5px;
  display: block;
  color: #314958;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;

}
.search-list a:hover{
  background-color: #f2f3f2;
}
.search-list span{
  font-weight: 100;
  text-transform: uppercase;
}
.search-header{
  background-color: #f2f3f2;
  padding: 5px;
  font-weight: 600;
}

.search-item img{
  height: 25px;
  width: 25px;
  object-fit: contain;
}


.c-img-img{

  width: 30px;
  height: auto;
  margin-top: -15px;
  margin-right: 10px;
}


body {

  background: #49c279 ;
}


td{
  padding: 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09) !important;
}


.img-l{
  margin-right: 10px;
}


.short-notify{

  padding: 5px;
  color: white !important;
  background-color: rgba(0, 92, 191, 0.46);
  margin: 10px;
  display: block;
  border-radius: 40px;
}


.st-desc{
  height: 65px;
  margin: 10px;
  display: block;
  overflow: hidden;
}

td{
  display: table-cell;
  width: 50px;
}
.crypt-table-market-cap {
  background-color: rgb(255, 255, 255);
}
.edit-cont{
  padding: 20px;
}

.form-control{
  border-radius: 10px !important;
}
tr{
  cursor: pointer;
}

.edit-cont h2{
  display: inline-block;
}
.edit-title{
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit-cont textarea{
  margin-bottom: 20px;
}
.edit-cont button{

  width: 200px;
}
.edit-cont input{
  margin-bottom: 20px;
}
.selected-coin{
  background-color: #f7ffc9;
}
.success-msg{
  display: block;
  /* width: 100%; */
  padding: 10px;
  /* margin: 15px; */
  background-color: #74d975;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  border-radius: 5px;
}

.log-logo{
  height: 50px;
  display: block;
  width: auto;
  margin: auto auto 40px;
}
 .ccc{
   border-radius: 0px 10px 10px 0px !important;
 }
.input-group-prepend, .input-group-append{
  display: unset;
}
.input-group-text{
  background-color: #ffffff !important;
  height: 40px;
}

.link-tags{
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #b7b7b7;
  color: #6c6c6c !important;
  background-color: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
}
.un-edit{
  background-color: #d6d6d6;
}
.link-input{
  margin: 0px 5px 5px 0px !important;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}
.linkList .fa {
  cursor: pointer;
}
